[submodule "meta-intel-media-stack"]
	path = meta-intel-media-stack
	url = https://github.com/pauldotknopf/meta-intel-media-stack
[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/git/poky
[submodule "meta-intel"]
	path = meta-intel
	url = https://git.yoctoproject.org/git/meta-intel
[submodule "meta-magewell"]
	path = meta-magewell
	url = https://github.com/pauldotknopf/meta-magewell.git
[submodule "meta-gstreamer"]
	path = meta-gstreamer
	url = https://github.com/dv1/meta-gstreamer1.0.git
